@font-face {
    font-family: openhuninn;
    src: url(../src/jf-openhuninn-1.1.ttf);
}
nav ul {
    margin-left:43vw ;
}

nav a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: calc((2.5vw+2vh)/2);
    text-align:center;
}

.nav-items {
    display: inline-block;
    padding: 1vh 2vw;
    text-align:center;
}
.nav-items p{
    display:block;
    font-family: openhuninn;
    font-size:5vw;
    line-height: 0vw;
}

#category{
    width: 15vw;
    height: 15vw;
}
#last{
    width: 15vw;
    height: 15vw;
}
#cover{
    background-image: url("../src/back_cover.png");
    min-height: 130vw;
    background-size:90%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5vW;
    z-index: -2;
}
#cover h1{
    padding-left:15vw;
    padding-top: 60vw;
    line-height:1vw;
    letter-spacing: 5vw;
    font-size:12vw;
    font-family: openhuninn;
}
#cover p{
    padding-left:55vw;
    font-size:6vw;
    font-family: openhuninn;
    
}
#bottom{

    margin-left: 15vw;
}
#bottom p{
    font-size:13vw;
    display: inline-block;   
    font-family: openhuninn;
}

#bottom img{
    display: inline-block;
    width: 20%;
    margin-left: 5vw;
    padding-right: 5vw;
    vertical-align:-70%;
}